@import "tailwindcss";




@theme {
  --color-primary: #90caf9;
  --color-secondary: #ffd54f; /*  #FFB300   */
  --color-dark: #121212; /*  #FFB300   */
  --color-card: #1e1e1e; /*  #FFB300   */
  --color-textPrimary: #bdbdbd;
  --color-textSecondary: #ffffff;
  --color-success: #81c784;
  --shadow-5xl: 0 0px 8px rgba(255,255,255,0.2);
  --font-inter: var(--font-intar);
  --font-dm-serif: var(--font-dm-serif-display);
}

@layer base {

  html {
    @apply scroll-smooth
  }

  body {
    @apply bg-dark font-inter;
  } 

  ::-webkit-scrollbar {
    @apply hidden
  }

}

@layer utilities {
  .body-lock {
    @apply overflow-hidden
  }
}

